<ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title size="large">
        Home Page 
      </ion-title>
      <!-- <ion-grid>
        <ion-row>
          <ion-col>
          </ion-col>
            
      <ion-button fill = "solid" (click) = "logout()" color = "dark">Logout</ion-button>
      <ion-col>
          </ion-col> 
          </ion-row>
          </ion-grid> -->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card>
              <ion-card-header color="primary">
                <ion-card-title>Today's Food Log</ion-card-title>
              </ion-card-header>
                <ion-list>
                  <ion-grid>
                    <ion-item *ngFor="let item of foods">
                      <ion-row>
                      <span *ngIf="!item.isEdit; else elseBlock">
                        <ion-col size="8">{{item.Name}}</ion-col> - <ion-col>{{item.Calories}} Calories</ion-col>
                      </span>
                      </ion-row>
                    </ion-item>
                  </ion-grid>
                </ion-list>
              </ion-card>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-card>
              <ion-card-header color="primary">
                <ion-card-title padding>Today's Workout Log</ion-card-title>
              </ion-card-header>
                <ion-list>
                  <ion-item><ion-label>Workout 1</ion-label></ion-item>
                  <ion-item><ion-label>Workout 2</ion-label></ion-item>
                  <ion-item><ion-label>Workout 3</ion-label></ion-item>
              </ion-list>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title padding>Goals Today</ion-card-title>
      </ion-card-header>
        <ion-list>
          <ion-item><ion-label><ion-checkbox disabled="true"></ion-checkbox>Workout 1</ion-label></ion-item>
          <ion-item><ion-label><ion-checkbox disabled="true"></ion-checkbox>Workout 2</ion-label></ion-item>
          <ion-item><ion-label><ion-checkbox disabled="true"></ion-checkbox>Workout 3</ion-label></ion-item>
      </ion-list>
      <ion-list-header color="secondary">
        <ion-label >Calories</ion-label>
      </ion-list-header>
      <ion-progress-bar [value]="progress"></ion-progress-bar>

    </ion-card>

  </ion-content>
