<ion-header>
  <ion-toolbar>
    <ion-title color= "primary">
      <ion-icon name="body"></ion-icon>
      Workout Log
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <ion-item>
    <ion-label >MM DD YY</ion-label>
    <ion-datetime displayFormat="MM / DD / YY" placeholder="Select Date"></ion-datetime>
  </ion-item>
  
        <div>
        <ion-card>
          <ion-card-title>
            Squat
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>


        <ion-card>
          <ion-card-title>
            Overhead Press
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>


        <ion-card>
          <ion-card-title>
            Deadlift
          </ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
              <ion-col>
                <div>
                  <ion-checkbox color="danger"
                   slot="start"></ion-checkbox>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        </div>


        <ion-grid>
          <ion-row></ion-row>
        </ion-grid>
      
<ion-card>
  <ion-card-title>
    Tomorrow's Workout
  </ion-card-title>


  <ion-card>
    <ion-card-title>
      Squat
    </ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-title>
      Bench Press
    </ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-title>
      Barbell Row
    </ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-checkbox disabled slot="start"></ion-checkbox>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-card>
</ion-content>
