<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Health Data Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    
      <ion-header>
    <ion-title margin-vertical>Your Week</ion-title>
      </ion-header>
      <ion-list>
        <ion-item>
          <ion-label>Avg. Calories Consumed/day:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Avg. Calories Burned/day:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Workouts this week:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Avg. Workout Time:</ion-label>
        </ion-item>
      </ion-list>
  </ion-card>
  <ion-card>
    <ion-header>
      <ion-title margin-vertical>Change from last week</ion-title>
    </ion-header>
    <ion-list>
      <ion-item>
        <ion-label>Avg. Calories Consumed/day:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Avg. Calories Burned/day:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Workouts this week:</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Avg. Workout Time:</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  
</ion-content>
